/* for tag html */
/* end for tag html */

/* for class name */
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
/* end for class name */

/* for id name */
/* end for id name */